In [14]:
import pandas as pd 
import requests as rq 

# Digite "my user agent" no buscador do Google, copie e cole seu user-agent Mozilla como valor da variável "header"
header = {''}

url = 'https://br.investing.com/equities/Brazil'

request = rq.get(url, headers=header)

# Utilize a função read_html() + pandas em sites onde os dados estão em formato de tabelas 
df = pd.read_html(request.text)
df

[                       Nome  Último  Máxima  Mínima  Variação  Var. %    Vol.
 0             RAIL3 Rumo ON    2049    2065    2034         0   0,00%   8,68M  \
 1       ALPA4 Alpargatas PN     933     942     910        18  +1,97%   6,24M
 2   ALSO3 Aliansce Sonae ON    1939    1945    1889        40  +2,11%    3,2M
 3            ABEV3 Ambev ON    1440    1449    1428       -10  -0,69%  32,12M
 4           ARZZ3 Arezzo ON    6547    6734    6421        96  +1,49%   2,06M
 ..                      ...     ...     ...     ...       ...     ...     ...
 81       RDOR3 Rede D'Or ON    2445    2486    2424        -3  -0,12%   2,34M
 82   CMIN3 CSN Mineração ON     453     461     448        -2  -0,44%   6,95M
 83           ASAI3 Assaí ON    1170    1187    1160         8  +0,69%  11,15M
 84          RAIZ4 Raizen PN     328     330     314        10  +3,14%  19,99M
 85      IGTI11 Iguatemi Unt    2121    2146    2067        36  +1,73%   3,76M

         Hora
 0   17:07:38
 1   17:07:52
 2   17:07:56
 3   18:25:23
 4   17:07:43
 ..       ...
 81  17:07:00
 82  17:07:00
 83  17:07:00
 84  17:07:00
 85  17:07:00

 [86 rows x 8 columns],
                          Unnamed: 0                           Empresa
 0  quarta-feira, 10 de maio de 2023  quarta-feira, 10 de maio de 2023  \
 1                               NaN                     TIM ON(TIMS3)
 2                               NaN              Equatorial ON(EQTL3)
 3                               NaN        Caixa Seguridade ON(CXSE3)
 4                               NaN                  COPEL PNB(CPLE6)
 5                               NaN            3R Petroleum ON(RRRP3)
 6                               NaN                 Minerva ON(BEEF3)

                      LPA / Projeção                Receita / Projeção
 0  quarta-feira, 10 de maio de 2023  quarta-feira, 10 de maio de 2023  \
 1                      0,17 / 0,105                     5,64B / 5,56B
 2                       -- / 0,2615                        -- / 7,68B
 3                     0,2689 / 0,26                 505,19M / 508,37M
 4                        -- / 0,186                        -- / 4,54B
 5                     0,06 / 0,5934                  573,7M / 646,69M
 6                          -- / 0,2                        -- / 6,39B

                       Capitalização                              Hora
 0  quarta-feira, 10 de maio de 2023  quarta-feira, 10 de maio de 2023  \
 1                            33,38B                               NaN
 2                            30,90B                               NaN
 3                             29,1B                               NaN
 4                            20,65B                               NaN
 5                             6,57B                               NaN
 6                             5,54B                               NaN

                          Unnamed: 6
 0  quarta-feira, 10 de maio de 2023
 1                               NaN
 2                               NaN
 3                               NaN
 4                               NaN
 5                               NaN
 6                               NaN  ,
                                0           1     2       3   4
 0                       Ibovespa  107.448,00   335  +0,31% NaN
 1        Ibovespa Futurosderived  108.935,00   285  +0,26% NaN
 2                 US 500 derived    4.142,10    45  +0,11% NaN
 3                  US 30 derived   33.534,80    35  +0,01% NaN
 4            S&P 500 VIX derived        1694   -77  -4,35% NaN
 5  Bitcoin Futuro Futurosderived   27.670,00 -2450  -0,88% NaN
 6           Índice Dólar derived       10123  -169  -0,17% NaN,
                Nome  Último    Var%    Vol.  Unnamed: 4
 0          Cielo ON     551  -3,50%  95,86M         NaN
 1      Petrobras PN    2453  -0,24%  41,35M         NaN
 2       Bradesco PN    1520  +0,20%  34,32M         NaN
 3  Itaú Unibanco PN    2690  +1,47%  30,90M         NaN
 4           Vale ON    6936  -1,88%  24,73M         NaN
 5     Eletrobras ON    3592  +3,34%  15,69M         NaN
 6       Localiza ON    6005  +1,90%  10,38M         NaN]

In [5]:
for i , tabela in enumerate(df):
    print('-------------')
    print(i)
    print(tabela)

-------------
0
                       Nome  Último  Máxima  Mínima  Variação  Var. %    Vol.
0             RAIL3 Rumo ON    2049    2065    2034         0   0,00%   8,68M  \
1       ALPA4 Alpargatas PN     933     942     910        18  +1,97%   6,24M
2   ALSO3 Aliansce Sonae ON    1939    1945    1889        40  +2,11%    3,2M
3            ABEV3 Ambev ON    1440    1449    1428       -10  -0,69%  32,12M
4           ARZZ3 Arezzo ON    6547    6734    6421        96  +1,49%   2,06M
..                      ...     ...     ...     ...       ...     ...     ...
81       RDOR3 Rede D'Or ON    2445    2486    2424        -3  -0,12%   2,34M
82   CMIN3 CSN Mineração ON     453     461     448        -2  -0,44%   6,95M
83           ASAI3 Assaí ON    1170    1187    1160         8  +0,69%  11,15M
84          RAIZ4 Raizen PN     328     330     314        10  +3,14%  19,99M
85      IGTI11 Iguatemi Unt    2121    2146    2067        36  +1,73%   3,76M

        Hora
0   17:07:38
1   17:07:52
2   17:07:56
3   18:25:23
4   17:07:43
..       ...
81  17:07:00
82  17:07:00
83  17:07:00
84  17:07:00
85  17:07:00

[86 rows x 8 columns]
-------------
1
                         Unnamed: 0                           Empresa
0  quarta-feira, 10 de maio de 2023  quarta-feira, 10 de maio de 2023  \
1                               NaN                     TIM ON(TIMS3)
2                               NaN              Equatorial ON(EQTL3)
3                               NaN        Caixa Seguridade ON(CXSE3)
4                               NaN                  COPEL PNB(CPLE6)
5                               NaN            3R Petroleum ON(RRRP3)
6                               NaN                 Minerva ON(BEEF3)

                     LPA / Projeção                Receita / Projeção
0  quarta-feira, 10 de maio de 2023  quarta-feira, 10 de maio de 2023  \
1                      0,17 / 0,105                     5,64B / 5,56B
2                       -- / 0,2615                        -- / 7,68B
3                     0,2689 / 0,26                 505,19M / 508,37M
4                        -- / 0,186                        -- / 4,54B
5                     0,06 / 0,5934                  573,7M / 646,69M
6                          -- / 0,2                        -- / 6,39B

                      Capitalização                              Hora
0  quarta-feira, 10 de maio de 2023  quarta-feira, 10 de maio de 2023  \
1                            33,38B                               NaN
2                            30,90B                               NaN
3                             29,1B                               NaN
4                            20,65B                               NaN
5                             6,57B                               NaN
6                             5,54B                               NaN

                         Unnamed: 6
0  quarta-feira, 10 de maio de 2023
1                               NaN
2                               NaN
3                               NaN
4                               NaN
5                               NaN
6                               NaN
-------------
2
                               0           1     2       3   4
0                       Ibovespa  107.448,00   335  +0,31% NaN
1        Ibovespa Futurosderived  108.935,00   285  +0,26% NaN
2                 US 500 derived    4.139,00    14  +0,03% NaN
3                  US 30 derived   33.514,60  -167  -0,05% NaN
4            S&P 500 VIX derived        1694   -77  -4,35% NaN
5  Bitcoin Futuro Futurosderived   27.715,00 -2000  -0,72% NaN
6           Índice Dólar derived       10123  -169  -0,17% NaN
-------------
3
               Nome  Último    Var%    Vol.  Unnamed: 4
0          Cielo ON     551  -3,50%  95,86M         NaN
1      Petrobras PN    2453  -0,24%  41,35M         NaN
2       Bradesco PN    1520  +0,20%  34,32M         NaN
3  Itaú Unibanco PN    2690  +1,47%  30,90M         NaN
4           Vale ON    6936  -1,88%  24,73M         NaN
5     Eletrobras ON    3592  +3,34%  15,69M         NaN
6       Localiza ON    6005  +1,90%  10,38M         NaN

In [30]:
# Tansformando os dados em um dataframe organizado 

df = pd.DataFrame(df[0])
df

# Isso deve retornar as linhas com índices entre 4 e 80 (ou seja, excluindo 81).

,Nome,Último,Máxima,Mínima,Variação,Var. %,Vol.,Hora
0,RAIL3 Rumo ON,2049,2065,2034,0,"0,00%","8,68M",17:07:38
1,ALPA4 Alpargatas PN,933,942,910,18,"+1,97%","6,24M",17:07:52
2,ALSO3 Aliansce Sonae ON,1939,1945,1889,40,"+2,11%","3,2M",17:07:56
3,ABEV3 Ambev ON,1440,1449,1428,-10,"-0,69%","32,12M",18:25:23
4,ARZZ3 Arezzo ON,6547,6734,6421,96,"+1,49%","2,06M",17:07:43
...,...,...,...,...,...,...,...,...
81,RDOR3 Rede D'Or ON,2445,2486,2424,-3,"-0,12%","2,34M",17:07:00
82,CMIN3 CSN Mineração ON,453,461,448,-2,"-0,44%","6,95M",17:07:00
83,ASAI3 Assaí ON,1170,1187,1160,8,"+0,69%","11,15M",17:07:00
84,RAIZ4 Raizen PN,328,330,314,10,"+3,14%","19,99M",17:07:00
85,IGTI11 Iguatemi Unt,2121,2146,2067,36,"+1,73%","3,76M",17:07:00

In [40]:
df['Último'] = df['Último'] / 100 
df['Máxima'] = df['Máxima'] / 100
df['Mínima'] = df['Mínima'] / 100 

df

,Nome,Último,Máxima,Mínima,Variação,Var. %,Vol.,Hora
0,RAIL3 Rumo ON,0.000020,0.000021,0.000020,0,"0,00%","8,68M",17:07:38
1,ALPA4 Alpargatas PN,0.000009,0.000009,0.000009,18,"+1,97%","6,24M",17:07:52
2,ALSO3 Aliansce Sonae ON,0.000019,0.000019,0.000019,40,"+2,11%","3,2M",17:07:56
3,ABEV3 Ambev ON,0.000014,0.000014,0.000014,-10,"-0,69%","32,12M",18:25:23
4,ARZZ3 Arezzo ON,0.000065,0.000067,0.000064,96,"+1,49%","2,06M",17:07:43
...,...,...,...,...,...,...,...,...
81,RDOR3 Rede D'Or ON,0.000024,0.000025,0.000024,-3,"-0,12%","2,34M",17:07:00
82,CMIN3 CSN Mineração ON,0.000005,0.000005,0.000004,-2,"-0,44%","6,95M",17:07:00
83,ASAI3 Assaí ON,0.000012,0.000012,0.000012,8,"+0,69%","11,15M",17:07:00
84,RAIZ4 Raizen PN,0.000003,0.000003,0.000003,10,"+3,14%","19,99M",17:07:00
85,IGTI11 Iguatemi Unt,0.000021,0.000021,0.000021,36,"+1,73%","3,76M",17:07:00

In [38]:
print(df.loc[4:80])

# df

                        Nome    Último    Máxima    Mínima  Variação  Var. %
4            ARZZ3 Arezzo ON  0.006547  0.006734  0.006421        96  +1,49%  \
5   BBAS3 Banco do Brasil ON  0.004351  0.004360  0.004260        56  +1,30%
6          BBDC3 Bradesco ON  0.001330  0.001333  0.001312         4  +0,30%
7          BBDC4 Bradesco PN  0.001520  0.001528  0.001502         3  +0,20%
8           BEEF3 Minerva ON  0.000945  0.000973  0.000916        32  +3,50%
..                       ...       ...       ...       ...       ...     ...
76          LWSA3 Locaweb ON  0.000635  0.000646  0.000597        38  +6,37%
77       SOMA3 Grupo Soma ON  0.000972  0.000984  0.000938        36  +3,85%
78             PETZ3 Petz ON  0.000719  0.000765  0.000715         2  +0,28%
79           CASH3 Méliuz ON  0.000089  0.000096  0.000088         1  +1,14%
80     RRRP3 3R Petroleum ON  0.003259  0.003293  0.003226        24  +0,74%

      Vol.      Hora
4    2,06M  17:07:43
5   10,51M  17:07:33
6    5,72M  17:07:47
7   34,32M  17:07:54
8   15,73M  17:07:55
..     ...       ...
76  11,56M  18:25:02
77  11,28M  17:07:45
78  20,35M  17:07:41
79  42,71M  17:07:00
80   4,77M  17:07:00

[77 rows x 8 columns]